name: build
on:
  push:
    branches: [dev, main, master]
  pull_request:
    branches: [dev, main, master]
jobs:

  dotnet-build-logic:
    if: true
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    # - name: Build Logic
    #   run: dotnet build "./logic/logic.sln" -c Release


  dotnet-build-install:
    if: true
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Build Installer
        run: dotnet build "./installer/installer.sln" -c Release



  dotnet-build-playback:
    if: true
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x


//    - name: Build Playback
//      run: dotnet build "./playback/playback.sln" -c Release